{
    "extends": "@istanbuljs/nyc-config-typescript",
    "include": [
        "src/**/*.ts"
    ],
    "exclude": [
        "node_modules/"
    ],
    "extension": [
        ".ts"
    ],
    "reporter": [
        "text",
        "html"
    ],
    "report-dir": "./coverage",
    "all": true
}